h1 {
     	color: blue;
        text-align: center;
}
h2 {
        color: blue;
}
h3 {
        color: gray;
        text-align: center;
}
p {
        color: red;
}
div{
        background-color: teal;
        width: 50%;
        hight: 200px;
        margin: 30px;
        padding: 30px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        ## font-weight: bold;
        border: 1px solid blue;
}
#top{
        font-size: 36px;
}
#middle{
        font-size: 28px;
}
#bottom{
        font-size: 18px;
}
.bolden{
        font-weight: bold;
        color: blue;
}
table{
        border: 2px solid black;
        border-collapse: collapse;
        width: 50%;
        margin: 30px;
}
th,td{
        border: 1px solid black;
        padding: 3px;
}
th{
        background-color: lightgray;
        padding: 5px;
}